@font-face {
  font-family: 'Future Academic';
  src: url("../fonts/futurademic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Suicce Intl Thin';
  src: url("../fonts/SuisseIntl-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Suicce Intl Light';
  src: url("../fonts/SuisseIntl-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Suicce Intl Regular';
  src: url("../fonts/SuisseIntl-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Suicce Intl Book';
  src: url("../fonts/SuisseIntl-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
  line-height: 1.2;
}

body {
  font-family: Montserrat, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

button,
input {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  margin: 0;
  font-size: 64px;
  letter-spacing: 3px;
  font-family: "Suicce Intl Thin", sans-serif;
  color: #FFFFFF;
}

.main {
  background-color: #000000;
  font-family: "Suicce Intl Thin", sans-serif;
  color: #FFFFFF;
}

.main-title {
  margin: 0;
  margin-left: 20px;
  font-size: 3.2rem;
  letter-spacing: 0.6rem;
  line-height: 1.3;
}

.main-arrow {
  padding: 8rem 0;
  margin-left: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-top: 25px;
  margin-bottom: 11rem;
}

.header-menu {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000000;
  padding: 0.6rem;
  padding-top: 50px;
  transform: translateY(-100%);
  letter-spacing: 3px;
}

.header-nav {
  padding-left: 18px;
  margin-bottom: 90px;
}

.header-nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
}

.header-nav__item {
  font-size: 25px;
  margin-bottom: 35px;
}

.header-contacts {
  padding-left: 6px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.header-contacts__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.header-contacts__icon {
  margin-right: 15px;
}

.header-social {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  padding: 8px;
  font-size: 18px;
  letter-spacing: 2px;
}

.menu__close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 101;
}

.menu__close:hover {
  cursor: pointer;
}

.contacts {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000000;
  font-family: "Suicce Intl Thin", sans-serif;
  color: #FFFFFF;
  padding: 0.6rem;
  transform: translateX(-100%);
}

.contacts-title {
  padding-left: 18px;
  font-size: 4rem;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 40px;
}

.contacts-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px auto;
  padding-left: 18px;
  font-size: 32px;
}

.contacts-social__item {
  margin-bottom: 28px;
}

.contacts-map {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 50%;
  background: url("../img/map.jpg") center center no-repeat;
  background-size: cover;
}

.request {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000000;
  font-family: "Suicce Intl Thin", sans-serif;
  color: #FFFFFF;
  padding: 0.6rem;
}

.request-title {
  padding-left: 18px;
  font-size: 4rem;
  margin: 0;
  margin-top: 90px;
  margin-bottom: 40px;
}

.request-form {
  padding: 18px;
}

.request-form__input {
  width: 100%;
  margin: 10px auto;
  padding: 16px 8px;
  background-color: transparent;
  border-bottom: 1px solid #707070;
  color: #FFFFFF;
}

.request-form input::-webkit-outer-spin-button,
.request-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.request-form__btn {
  width: 100%;
  margin-top: 32px;
  padding: 16px 8px;
  text-align: center;
  background-color: #0F1215;
  color: #FFFFFF;
  border-radius: 3px;
}

.brief {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000000;
  font-family: "Suicce Intl Light", sans-serif;
  color: #FFFFFF;
  padding: 0.6rem 10px;
  transform: translateY(-100%);
}

.brief-title {
  font-family: "Suicce Intl Thin", sans-serif;
  font-size: 4rem;
  margin: 0;
  margin-top: 90px;
  margin-bottom: 40px;
}

.brief-tabs {
  margin: 90px auto;
}

.brief-tabs__item {
  margin-right: 50px;
  padding-bottom: 15px;
  font-size: 24px;
  color: #707070;
}

.brief-tabs__item_active {
  border-bottom: 1px solid #707070;
  color: #FFFFFF;
}

.brief-col {
  display: inline-flex;
  width: 33%;
  padding: 0 20px;
  flex-direction: column;
  font-size: 15px;
}

.brief-col label {
  margin-bottom: 30px;
  color: #707070;
}

.brief-col label input {
  margin-right: 16px;
}

.brief-col__title {
  font-size: 24px;
  padding-bottom: 30px;
}

.brief input[type="number"], .brief input[type="text"], .brief input[type="date"] {
  padding: 16px 8px;
  background-color: transparent;
  border-bottom: 1px solid #707070;
  color: #FFFFFF;
}

.brief input::-webkit-outer-spin-button,
.brief input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.brief-form__footer {
  content: '';
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 0px 20px;
  background-color: #1B1B1F;
}

.brief-form__btn {
  padding: 16px 8px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #707070;
  color: #FFFFFF;
  border-radius: 3px;
}

.projects {
  position: relative;
  background: url("../img/parallax-bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}

.projects:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.projects-slider {
  position: relative;
  z-index: 3;
  padding: 150px 32px;
}

.projects-slider__title {
  max-width: 250px;
  margin-top: 45px;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-family: "Suicce Intl Light", sans-serif;
  font-size: 2.6rem;
}

.projects-slider__item:focus {
  outline: none;
}

.projects-slider .slick-dots {
  position: absolute;
  top: 80px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.projects-slider .slick-dots button {
  font-size: 0;
  width: 32px;
  height: 3px;
  background-color: #707070;
  border-radius: 8px;
}

.projects-slider .slick-dots li.slick-active button {
  height: 6px;
  background-color: #FFFFFF;
}

.projects .slick-slider {
  min-width: 0;
}

.projects .slick-list {
  overflow: hidden;
}

.projects .slick-list:focus {
  outline: none;
  border: none;
}

.projects .slick-track {
  display: flex;
  align-items: flex-start;
}

.skills {
  padding: 60px 32px;
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Suicce Intl Thin", sans-serif;
}

.skills-col {
  position: relative;
  padding: 35px 0;
  z-index: 5;
}

.skills-col__title {
  font-size: 40px;
  letter-spacing: 2px;
}

.skills-col__list {
  margin: 32px auto;
  font-family: "Suicce Intl Light", sans-serif;
  font-size: 16px;
}

.skills-col__list li {
  margin: 12px auto;
}

.skills-col:hover {
  background: url("../img/skills-bg.png") center center no-repeat;
}

.skills-col:hover .skill-col__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.works-col {
  position: relative;
  width: 100%;
  height: 310px;
  margin: 0;
}

.works-col:hover .works-content {
  opacity: 1;
}

.works__img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.works-content {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 50px 32px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity .6s;
}

.works-content__title {
  max-width: 200px;
  margin: 0;
  margin-right: 10px;
  font-family: "Suicce Intl Light", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: crop;
  vertical-align: top;
}

.blog {
  padding: 60px 32px;
  background-color: #000000;
  color: #FFFFFF;
}

.blog-col {
  position: relative;
  padding-top: 40px;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  font-family: "Suicce Intl Light", sans-serif;
  z-index: 5;
}

.blog-col:hover {
  background: url("../img/blog-bg.png") right 30px no-repeat;
}

.blog-col:hover .blog-col__overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.blog-col__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.blog-col__title {
  font-size: 25px;
  line-height: 1.4;
}

.blog-col__desc {
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 2px;
}

.blog-col__date {
  font-family: "Suicce Intl Regular", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #7E808D;
  letter-spacing: 2px;
}

.bottom-blur {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  z-index: 99;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Suicce Intl Thin", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
}

.visible-lg, .visible-md, .visible-sm {
  display: none;
}

@media (min-width: 576px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 540px;
  }
  .row {
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .xs-only {
    display: none;
  }
  .visible-sm {
    display: block;
  }
  .works {
    display: flex;
    flex-wrap: wrap;
  }
  .works-col {
    height: auto;
  }
  .works-content {
    justify-content: space-around;
  }
  .blog-col {
    margin-top: 20px;
  }
  .blog-col:hover {
    background-position: center center;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 720px;
  }
  .hidden-md {
    display: none;
  }
  .visible-md {
    display: block;
  }
  .projects-slider__title {
    max-width: 400px;
  }
  .projects-slider .slick-dots button {
    width: 50px;
    height: 4px;
  }
  .projects-slider .slick-dots li.slick-active button {
    height: 8px;
  }
  .works-col {
    width: 50%;
  }
  .skills-col {
    width: 50%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
  .hidden-lg {
    display: none;
  }
  .visible-lg {
    display: block;
  }
  .container {
    max-width: 960px;
  }
  .brief {
    display: block;
  }
  .header {
    padding: 35px 30px;
  }
  .header-logo {
    width: 40%;
  }
  .header-nav__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-nav__item {
    font-family: "Suicce Intl Regular", sans-serif;
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 0;
    margin-right: 30px;
  }
  .main-title, .main-arrow {
    margin-left: 80px;
  }
  .contacts {
    height: 100vh;
    padding-left: 100px;
    transform: translateX(0);
    transform: translateY(-100%);
  }
  .contacts-title {
    margin-top: 120px;
    margin-bottom: 90px;
  }
  .contacts-social {
    margin: 90px auto;
  }
  .projects {
    padding: 200px 0;
  }
  .projects-slider {
    margin-left: 80px;
    padding-left: 0;
  }
  .projects-slider .slick-dots {
    left: -10px;
  }
  .works-content__title {
    width: 70%;
  }
  .works-col {
    width: 33.3333%;
  }
  .skills {
    padding-left: 80px;
  }
  .skills-row {
    display: flex;
    justify-content: space-between;
  }
  .skills-col {
    max-width: 380px;
    margin: 0;
    padding: 80px 10px 80px 0;
  }
  .blog {
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
  }
  .blog-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    position: absolute;
    top: 100px;
    right: 80px;
    font-family: "Suicce Intl Light", sans-serif;
    font-size: 20px;
  }
  .blog-col {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    min-height: 380px;
  }
  .blog-col__title {
    max-width: 30%;
    font-family: "Suicce Intl Regular", sans-serif;
    font-size: 32px;
  }
  .blog-col__content {
    max-width: 40%;
  }
  .blog-col__link {
    align-self: center;
  }
  .blog-col:hover {
    background-position: 45% top;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .header-logo {
    width: 25%;
  }
  .header-nav__item {
    font-size: 16px;
    letter-spacing: 6px;
  }
}

@media (min-width: 1400px) {
  .brief {
    padding: 0.6rem 80px;
  }
  .brief-col {
    padding: 0 50px;
  }
  .brief-form__footer {
    padding: 0 80px;
  }
}
/*# sourceMappingURL=style.css.map */