@font-face{
    font-family: 'Future Academic';
    src: url('../fonts/futurademic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Suicce Intl Thin';
    src: url('../fonts/SuisseIntl-Thin.otf') format("opentype");
    font-weight: 100;
    font-style: normal;
}
@font-face{
    font-family: 'Suicce Intl Light';
    src: url('../fonts/SuisseIntl-Light.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Suicce Intl Regular';
    src: url('../fonts/SuisseIntl-Regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Suicce Intl Book';
    src: url('../fonts/SuisseIntl-Book.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}